<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>exercise</title>
    <link rel="stylesheet" href="ex3.css">
</head>

<body>
    <div class="back">
        <div class="template">
            <div class="image">
                <img src="image.png" alt="image">
            </div>
            <span>Butterfly</span>
            <span>Nature</span>
            <h1>Butterfly</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium saepe sapiente eum, nobis eos
                dignissimos
                autem ut sunt quas obcaecati minima! Ipsa totam, accusamus ab et possimus nostrum debitis similique!</p>
            <h3>Read more</h3>
        </div>
    </div>
</body>

</html>