*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: black;
}   
img{
    border-radius: 10px;
    height: 120px;
    width: 200px;
}    

.cards{
    border: none;
    background-color: rgb(1, 0, 0);
    font-family:"Roboto", "Arial", sans-seriff;
    display:flex;
    margin:2px;
    flex-direction:row;
    gap: 15px;
    align-items: center;
    width: 50vw;
    border-radius: 5px;
    
}   
.card-content{
    display: flex;
    /* background-color: grey; */
    flex-direction: column;
    
}
.stats{
    /* background-color: grey; */
    display: flex;
    gap: 15px;
    font-size: small;
    font-weight: lighter;
    color: rgb(76, 76, 74);
}
#title{
    font-size: large;
    position: relative;
    bottom: 15px;
    color: white;
}
.time{
    background-color:black;
    color: white;
    border: 2px solid black;
    width: 38px;
    border-radius: 6px;
    position:relative;
    left: 160px;
    bottom: 30px;
    font-size: small;
    }
.first{
    text-decoration: none;
   color: inherit;
   display: flex;
   gap: 15px;
}
a{
   text-decoration: none;
   color: inherit;
   display: block;
   gap: 15px;
}
        
.container:hover{

    cursor: pointer;
    
}   
button{
    background-color:rgb(13, 192, 241);
    font-weight: bold;
    color: rgb(231, 90, 46);
    width: 100px;
    height: 25px;
    border-radius: 8px;
    position: fixed;
    cursor: pointer;
    box-shadow:rgb(59, 58, 58) 2px 2px 7px ;
    top: 80vh;
    left: 80vw;
}
button:hover{
    scale: 1.5;
    transition: ease-in-out;
    
}

